<meta charset="utf-8">
{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.js"></script>
<style>
  footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #ticker {
    background-color: slategrey;
    color: white;
  }
  
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -1px;
  }
  
  .page-wrap:after {
    content: "";
    display: block;
  }
  
  .site-footer,
  .page-wrap:after {
    height: 60px;
  }
</style>

<script>
$('#checkbox1').mousedown(function() {
    if (!$(this).is(':checked')) {
        this.checked = confirm("Are you sure?");
        $(this).trigger("change");
    }
});
function fx(username){
window.alert();
window.alert("no");
var i=0;
var ins=[];
{% for instructor in all_instructor %}
ins[i++]="{{instructor}}";
{% endfor %}				
if($.inArray(username, ins)==-1)
{document.getelementbyid(username).innerHtml="NO";
window.alert("no");
}else
{document.getelementbyid(username).innerHtml="Yes";
window.alert("no");
}
				
				}
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Staff Development Platform	</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="Home.html">Home</a></li>
        <li><a href="#">Courses Offered</a></li>
        <li><a href="Home.html#ab">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div id="search-form" class="form-group">
              <div class="input-group">
                <span id="search-icon" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" placeholder="Search">
              </div>
            </div>
          </form>
        </li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="ticker" style="padding-top: 60px;">
  <marquee>
    <p>New News and programs</p>
  </marquee>
</div>
<div style="padding-top:10px">
</div>

<div class="container">
  <h4>Categories</h4>
     <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">View Categories</button>
  
  <div class="col-md-12">
     
	<div class="row well">
      <div class="collapse" id="demo">
        {% if all_categories %}
        <ul>
          <div class="row">
			<table class="table">
			<thead>
			  <tr>
				<th>Category name</th>
				<th>Delete</th>
				
			  </tr>
          </thead>
			<tbody>
			
		  {% for category in all_categories %}
            <tr>
				<td><h4><a href="course/{{ category.id }}/">{{ category.name }}</a></h4></td>
				<td>delete</td>
				
			</tr>
		
		  
          {% endfor %}
        </tbody>
		  </table>
</div>
		
		</ul>
        {% else %}
        <p>No categories are available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div style="padding-top:10px">
</div>

<div class="container">
  <h4>Users</h4>
      
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">View Users</button>
  <div class="col-md-12">
    <div class="row well">
      <div class="collapse" id="demo2">
        {% if all_users %}
        <ul>
          <div class="row">

			<table class="table">
			<thead>
			  <tr>
				<th>Username</th>
				<th>instructor</th>
			  </tr>
          </thead>
			<tbody>

		{% for user in all_users %}
            <td><h4><a href="course/{{ course.id }}/">{{ user }}</a></h4></td>
				<td onload="fx('{{ user.name }}');" id ="{{ user.name }}">red</td>
					
			</tr>
			
			
          {% endfor %}
        </tbody>
		  </table>

		</ul>
        {% else %}
        <p>No user added</p>
        {% endif %}
      </div></div>
    </div>
  </div>
</div>

<footer class="site-footer" style="padding-bottom: 10px;">
  <p class="text-muted" align="center">Contact us</p>
  <p class="text-muted" align="center">2016</p>
</footer>
<div class="col-md-3">