<div class="row">
    <div class="form-group">
        {% csrf_token %}
        <div class="col-sm-6">
            <label for="compName">Component Name:</label>
        </div>
        <div class="col-sm-6">
            <input type="text" name="compName" id="compName" required value="{{component.name}}" />
            </br>
            </br>
        </div>

        {% if type == 'File' %}
            <div id="fileComponent">
                <div class="col-sm-6">
                    <label for="compFile">File: <a href="/main{{MEDIA_URL}}{{component.file}}" target='_blank'> {{component.file}} </a></label>
                </div>
                <div class="col-sm-6">
                    <input type="file" name="compFile" id="compFile" {% if component.file == None %} required {% endif %} />
                </div>
            </div>
        {% else %}
            <div id="videoComponent">
                <div class="col-sm-6">
                    <label for="compVideo">Video: {{component.url}} </a></label>
                </div>
                <div class="col-sm-6">
                    <input type="text" name="compVideo" id="compVideo" {% if component.url == None %} required {% endif %} />
                </div>
            </div>
        {% endif %}
    </div>

    <div style="padding-top:10px"></div>
    <div class="row">
        <div class="col-sm-6">
            <a href="#" class="componentDelete" id="{{component.id}}"> Delete Component </a>
        </div>
        <div class="col-sm-6">
            <a href="#" class="componentSubmit" id="{{component.id}}"> Update Component </a>
        </div>
    </div>
    <div style="padding-top:40px"></div>
</div>
