<head>
  <title>Course History for {{name}}</title>
</head>
<body>
  {% include "main/navbar.html" %}
  <div class="container-fluid" id="ticker" style="padding-top: 60px;">
  </div>
  <div class="container">
    <div class="col-md-12">
      <h4>{{ name }}</h4>
      <div class="row well">
        {% if courseHistory %}
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courseHistory %}
              <tr>
                <td>
                  <h4>{{course.course}}</h4>
                </td>
                <td>
                  <h4>{{course.dateCompleted}}</h4>
                </td>
              </tr>
              {% endfor %}
              <tbody>
          </table>
        </div>
        {% else %}
        <p>The participant has not completed any course.</p>
        {% endif %}
      </div>
    </div>
  </div>
</body>