<head>
	<title>Instructor</title>
</head>
<script>
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			
			var modSelected = 0;
			var compsForMods = {};

			$(document).ready(function() {
                $( "#modules" ).sortable();
				$( "#modules" ).disableSelection();

				$("#addMod").click(function(){
					var csrftoken = getCookie('csrftoken');
					$.ajax({
						method: "POST",
						url: "/main/instructor/new/addModule/",
						beforeSend: function( xhr ) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						},
						data: {module_id: this.id, course_id: {{course.id}}, module_name: $("#module_name").val() }
					}).done(function( msg ) {
						$("#moduleContainer").html(msg);
						$("#moduleContainer").find('#' + modSelected).addClass("active");
						$( "#modules" ).sortable();
						$( "#modules" ).disableSelection();
					});
				});	

				$("#moduleContainer").on("click", ".moduleLoad", function(event){
					if(modSelected==this.id)
						return;
					
					if ($("#components li").length != 0){ //save order of the components for module that was selected 
						compsForMods[modSelected] = $("#components").sortable( "toArray" );
					}

					$("#moduleContainer").find('#' + modSelected).removeClass("active");
					modSelected = this.id;
					$(this).addClass("active");
					$("#compContainer").html("Loading...");

					var csrftoken = getCookie('csrftoken');
					$.ajax({
						method: "POST",
						url: "/main/instructor/new/loadComponents/",
						beforeSend: function( xhr ) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						},
						data: {module_id: this.id, course_id: {{course.id}} }
					}).done(function( msg ) {
						$("#compContainer").html(msg);
						$( "#components" ).sortable();
						$( "#components" ).disableSelection();

						if (typeof compsForMods[modSelected] === "undefined") {}
						else{ //restore order from array
							$.each(compsForMods[modSelected], function(key, val){
								var comp = "#components > #"+val;
								$( "#components" ).append($(comp));
							});
						}
					});
				});	

				$("#compContainer").on("click", ".addCom", function(event){	
					var csrftoken = getCookie('csrftoken');
					$.ajax({
						method: "POST",
						url: "/main/instructor/new/addComponent/",
						beforeSend: function( xhr ) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						},
						data: {module_id: modSelected, course_id: {{course.id}}, component_name: $("#component_name").val() }
					}).done(function( msg ) {
						$("#compContainer").html(msg);
						$("#components").sortable();
						$("#components").disableSelection();
					});
				});		
			});

			function formSubmit(){
				if ($("#components li").length != 0){
					compsForMods[modSelected] = $("#components").sortable( "toArray" );
				}

				var modulePos = $("#modules").sortable( "toArray" );
				if(modulePos.length !=0 )
					$("#modulePositions").val( JSON.stringify(modulePos) );			
				if(!(Object.keys(compsForMods).length === 0 && compsForMods.constructor === Object)){
                    $("#compsPositions").val( JSON.stringify(compsForMods));
				}
			}
		</script>

<body>
	{% include "main/navbar.html" %}
	<div class="container-fluid" id="ticker" style="padding-top: 60px;"></div>
	<div class="container">
		<div class="col-md-12">
			<h4>Enter Course Details</h4>
			<div class="row well">
				<form action="{% url 'instructor' %}" method="post">
					<div class="form-group">
						{% csrf_token %}
						<div class="col-sm-6">
							<label for="courseName">Course Name:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" name="courseName" id="courseName" value="{{course.name}}" />
							</br>
							</br>
						</div>
						<div class="col-sm-6">
							<label for="courseDesc">Course Description: </label>
						</div>
						<div class="col-sm-6">
							<input type="text" name="courseDesc" id="courseDesc" value="{{course.description}}" />
							</br>
							</br>
						</div>
						{% for category in categories %}
						<input type="radio" name="category" value="{{ category.id }}" required {% if course.category_id==c ategory.id %} checked
							{% endif %}/> {{ category.name }} </br>
						{% endfor %}
					</div>

					<div id="moduleContainer">{% include "main/module.html" %}</div>
					<div id="compContainer"></div>

					<input type="text" placeholder="enter the module name" name="module_name" id="module_name" />
					<a href="#" id="addMod" />Add Module</a>
					</br>
					</br>

					<input type="hidden" value="{{course.id}}" name="course_id" />
					<input type="hidden" value="" name="modulePositions" id="modulePositions" />
					<input type="hidden" value="" name="compsPositions" id="compsPositions" />
					<input type="submit" value="Save Changes" onclick="formSubmit()" /></div>
			</form>
		</div>
	</div>
</body>