<head>
  <title>Human resources</title>
</head>
<div id="body">
  {% include "main/navbar.html" %}
  <div class="container-fluid" id="ticker" style="padding-top: 60px;">
  </div>
  <div class="container">
    <div class="col-md-12">
      <h4>All Participants</h4>
      <div class="row well">
        {% for user in all_users %}
        <div class="row">
          <h4><a href="{% url 'courseHistory' user.id %}" class="courseHistory" id="{{user.id}}"> {{user}}</a></h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>