<head>
  <title>Instructor</title>
  <script>
    function myFunction() {
      // Declare variables 
      var input, filter, table, tr, td, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("coursesTable");
      tr = table.getElementsByTagName("tr");
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.getElementsByTagName('a')[0].innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    }
  </script>

  <script>
	function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

    $(document).ready(function() {
      $(".deploy").click(function(e){
        var selected = this;
        if(confirm("Are you sure?")){
          var csrftoken = getCookie('csrftoken');
				$.ajax({
						method: "POST",
						url: "deployCourse/",
						beforeSend: function( xhr ) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						},
						data: {course_id: this.id}
					}).done(function( msg ){
            if(msg != "Success"){
              $(selected).prop('checked', true);
              alert("Course has registered participants, can't undeploy.");
            }
					});
        }else{
          e.preventDefault();
        }
      });
    });
  </script>
</head>
<div id="body">
  {% include "main/navbar.html" %}
  <div class="container-fluid" id="ticker" style="padding-top: 60px;"></div>

  <div class="container">
    <div class="col-md-12">
      <h4>Your Courses</h4>
      <div class="row well">
        <div class="row">
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for course..">

          <table class="table" id="coursesTable">
            <thead>
              <tr>
                <td>
                  Course name
                </td>
                <td>
                  Deployed
                </td>
              </tr>
            </thead>
            <tbody>
              {% for course in course_list %}
              <tr>
                <td>
                  <h4><a href="{% url 'editCourse' course.id %}" class="editCourse"> {{ course }} </a></h4>
                </td>
                <td>
                  <label class="switch"><input type="checkbox" class="deploy" id="{{course.id}}" {% if course.deployed %} checked {% endif %} /><div class="slider round"></div></label>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div style="padding-bottom: 10px;">
        <a href="new">Create New Course</a>
      </div>
    </div>
  </div>
</div>