{% block content %}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<body style="background-color:#7c9e85;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form method="post">
            {% csrf_token %}
    {{ form.as_p }}

        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <div class="login-help">
        <a href="{% url 'register' %}">Register</a>
      </div>
    </div>
  </div>
  </body>
{% endblock %}
