{% block content %}
<meta charset="utf-8"> {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}/static/css/bootstrap.min.css">
<link rel="stylesheet" href="{{STATIC_URL}}/static/css/bootstrap.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/static/favicon.ico" />
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
			<a class="navbar-brand">Staff Development Platform	</a>
		</div>
		
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				{%if request.user.is_superuser %}
				<li><a href='{%url "admin" %}'>Admin</a></li>
				{% endif %}
				<li><a href='{% url "participant" %}'>Courses Offered</a></li>
				{%if request.user.is_staff %}
				<li><a href='{%url "instructor" %}'>Instructor</a></li>
					{% endif %} {%if request.session.isHR %}
				<li><a href='{%url "participantList" %}'>HR</a></li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}