<head>
	<title>New Course</title>
	<script>
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		
		var modSelected = 0;
		var modulesOrder = [];
		var compsForMods = {};
		
		var modulesSortEventHandler = function(event, ui){
			modulesOrder = $("#modules").sortable( "toArray" );
		};
		
		var compsSortEventHandler = function(event, ui){
			compsForMods[modSelected] = $("#components").sortable( "toArray" );
		};
		
		$(document).ready(function() {
			$("#addMod").click(function(){
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "addModule/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {module_id: this.id, course_id: {{course_id}}, module_name: $("#module_name").val() }
				}).done(function( msg ) {
					$("#module_name").val("");
					$("#moduleContainer").html(msg);						
					$( "#modules" ).sortable({ stop: modulesSortEventHandler });
					$( "#modules" ).disableSelection();
					
					//restore old order of modules
					modulesOrder.push($("#modules").sortable( "toArray" )[$("#modules").sortable( "toArray" ).length - 1]);
					$.each(modulesOrder, function(key, val){
						var mod = "#modules > #"+val;
						$( "#modules" ).append($(mod));
					});
					$("#moduleContainer").find('#' + modSelected).addClass("active");
				});
			});	
		
			$("#moduleContainer").on("click", ".moduleLoad", function(event){
				modSelected = this.id;
				$("#compContainer").html("Loading...");
		
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "loadComponents/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {module_id: this.id, course_id: {{course_id}} }
				}).done(function( msg ) {
					$("#moduleEdit").show();
					var search = "#modules li #"+modSelected;
					$("#moduleRenameText").val($(search).html());
					$("#compContainer").html(msg);
					$( "#components" ).sortable({ stop: compsSortEventHandler });
					$( "#components" ).disableSelection();
		
					if (typeof compsForMods[modSelected] === "undefined") {}
					else{ //restore order from array
						$.each(compsForMods[modSelected], function(key, val){
							var comp = "#components > #"+val;
							$( "#components" ).append($(comp));
						});
					}
				});
			});	
		
			$("#compContainer").on("click", ".addCom", function(event){	
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "addComponent/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {module_id: modSelected, course_id: {{course_id}}, component_name: $("#component_name").val() }
				}).done(function( msg ) {
					$("#compContainer").html(msg);
					$("#components").sortable({ stop: compsSortEventHandler });
					$("#components").disableSelection();
					
					if (typeof compsForMods[modSelected] === "undefined") {
						compsForMods[modSelected] = [];
					}
		
					compsForMods[modSelected].push($("#components").sortable( "toArray" )[$("#components").sortable( "toArray" ).length - 1]);
		
					$.each(compsForMods[modSelected], function(key, val){
						var comp = "#components > #"+val;
						$( "#components" ).append($(comp));
					});					
				});
			});
		
			$("#compContainer").on("click", ".componentLoad", function(event){	
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "loadComponentBody/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: { component_id: this.id }
				}).done(function( msg ) {
					$("#componentBody").html(msg);
				});
			});	
		
			$("#compContainer").on("click", ".componentSubmit", function(event){
				var fd = new FormData();
				var file = $("#compFile")[0].files[0];
				fd.append('compFile', file);
				fd.append('component_id', this.id)
				fd.append('compName', $("#compName").val());
				for (var [key, value] of fd.entries()) { 
					console.log(key, value);
				}
		
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					processData: false,
							contentType: false,
					url: "loadComponentBody/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: fd
				}).done(function( msg ) {
					$("#componentBody").html(msg);
				});
			});	

			$("#compContainer").on("click", ".componentDelete", function(event){
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "deleteComponent/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {course_id: {{course_id}}, module_id: modSelected, component_id: this.id }
				}).done(function( msg ) {
					$("#compContainer").html(msg);
				});
			});	

			$("#renameMod").click(function(){
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "renameModule/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {course_id: {{course_id}}, module_id: modSelected, module_name: $("#moduleRenameText").val() }
				}).done(function( msg ) {
					$("#moduleContainer").html(msg);						
					$( "#modules" ).sortable({ stop: modulesSortEventHandler });
					$( "#modules" ).disableSelection();
					
					//restore old order of modules
					modulesOrder.push($("#modules").sortable( "toArray" )[$("#modules").sortable( "toArray" ).length - 1]);
					$.each(modulesOrder, function(key, val){
						var mod = "#modules > #"+val;
						$( "#modules" ).append($(mod));
					});
					$("#moduleContainer").find('#' + modSelected).addClass("active");
				});
			});		

			$("#deleteMod").click(function(){
				var csrftoken = getCookie('csrftoken');
				$.ajax({
					method: "POST",
					url: "deleteModule/",
					beforeSend: function( xhr ) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					},
					data: {course_id: {{course_id}}, module_id: modSelected }
				}).done(function( msg ) {
					$("#moduleEdit").hide();
					$("#compContainer").hide();
					$("#moduleContainer").html(msg);						
					$( "#modules" ).sortable({ stop: modulesSortEventHandler });
					$( "#modules" ).disableSelection();
					
					//restore old order of modules
					modulesOrder.push($("#modules").sortable( "toArray" )[$("#modules").sortable( "toArray" ).length - 1]);
					$.each(modulesOrder, function(key, val){
						var mod = "#modules > #"+val;
						$( "#modules" ).append($(mod));
					});
				});
			});	
		});
		
		function formSubmit(){
			if ($("#components li").length != 0){
				compsForMods[modSelected] = $("#components").sortable( "toArray" );
			}
		
			var modulePos = $("#modules").sortable( "toArray" );
			if(modulePos.length !=0 )
				$("#modulePositions").val( JSON.stringify(modulePos) );			
			if(!(Object.keys(compsForMods).length === 0 && compsForMods.constructor === Object)){
				$("#compsPositions").val( JSON.stringify(compsForMods));
			}
		}
	function unhide(){
	$("#compContainer").show();
	
	}
	</script>
</head>

<body>
	{% include "main/navbar.html" %}
	<div class="container-fluid" id="ticker" style="padding-top: 60px;"></div>
	<div class="container">
		<h4>Enter Course Details</h4>
		<div class="col-md-12">
			<div class="row well">

				<form action="{% url 'instructor' %}" method="post">
					{% csrf_token %}
					<div class="col-sm-6">
						<label for="courseName">Course Name:</label>
					</div>
					<div class="col-sm-6">
						<input type="text" name="courseName" id="courseName" required/>
						</br>
						</br>
					</div>
					<div class="col-sm-6">
						<label for="courseDesc">Course Description: </label>
					</div>
					<div class="col-sm-6">
						<input type="text" name="courseDesc" id="courseDesc" required/>
						</br>
						</br>
					</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<div class="row well">

				{% for category in categories %}
				<input type="radio" name="category" value="{{ category.id }}" required/> {{ category.name }} </br>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<div class="row well">
				<div id="moduleContainer"></div>
				<input type="text" placeholder="Enter the module name" name="module_name" id="module_name" />
				<a href="#" id="addMod" onclick="unhide()">Add Module</a>
				<div id="moduleEdit" hidden>
					</br>
					<input type="text" name="moduleRename" id="moduleRenameText" />
					<a href="#" id="renameMod">Rename Module</a>
					<a href="#" id="deleteMod">Delete Module</a>
				</div>
				</br>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="col-md-12">
			<div class="row well">

				<div id="compContainer"></div>

				<input type="hidden" value="{{course_id}}" name="course_id" />
				<input type="hidden" value="" name="modulePositions" id="modulePositions" />
				<input type="hidden" value="" name="compsPositions" id="compsPositions" />

				<input type="submit" value="Add Course" onclick="formSubmit()" /></div>
		</div>
	</div>

	</form>
	<script>$("#compContainer").hide();</script>

	</div>
</body>