<head>
  <title>Participant</title>
</head>

<body>
  {% include "main/navbar.html" %}
  <div class="container-fluid" id="ticker" style="padding-top: 60px;"></div>
  {% if enrolledCourse %}
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-12">
        <h4>Enrolled Course</h4>
        <div class="row well">
          <ul>
            <div class="row">
              <h7><a href="course/{{ enrolledCourse.id }}/">{{ enrolledCourse.name }}</a></h7>
              <p> {{enrolledCourse.description}} </p>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-12">
        <h4>Suggested Courses</h4>
        <div class="row well">
          {% if courseList %} 
          {% for cat,courses in courseList.items %}
          <h4>{{ cat }}</h4>
          <ul>
            {% for course in courses %}
            <div class="row">
              <h7><a href="course/{{ course.id }}/">{{ course.name }}</a></h7>
              <p> {{course.description}} </p>
            </div>
            {% endfor %}
          </ul>
          {% endfor %} {% else %}
          <p>No other courses are available.</p>
          {% endif %}
        </div>
        
        <h4>Completed Courses</h4>
        <div class="row well">
          {% if courseHistory %}
          <ul>
            {% for course in courseHistory %}
            <div class="row">
              <h7><a href="{% url 'completedCourses' course.course_id %}">{{ course.course }}</a></h7>
            </div>
            {% endfor %}
          </ul>
          {% else %}
          <p>You have not completed any course.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
<body>