<meta charset="utf-8"> {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<div id="body">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Staff Development Platform	</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href='{%url "participant"%}'>Home</a></li>
        {% load static %}
        <li><a href='{%url "participant"%}'>Courses Offered</a></li>
        <li><a href="Home.html#ab">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{%url "logout"%}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form>
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="ticker" style="padding-top: 60px;">
  <marquee>
    <p>New News and programs</p>
  </marquee>
</div>
  {% if enrolledCourse %}
    
<div class="container">
  <div class="col-md-12">
    <div class="col-md-3">
    <h4>Enrolled Course</h4>
      <div class="row well">
        <ul>
          <div class="row">
            <h7><a href="course/{{ enrolledCourse.id }}/">{{ enrolledCourse.name }}</a></h7>
            <p> {{enrolledCourse.description}} </p>
          </div>
        </ul>
      </div></div>
      </div></div>
      {% endif %}
<div class="container">
  <div class="col-md-12">
  
<div class="col-md-9">
<h4>Suggested Courses</h4>
        
      <div class="row well">
        {% if allCourses %}
            {% for cat in allCategory %}
                      
            <h4>{{ cat.name }}</h4>
            <ul>
              {% for course in allCourses %}
                  {% if cat.id == course.category_id %}
                  <div class="row">
                    <h7><a href="course/{{ course.id }}/">{{ course.name }}</a></h7>
                    <p> {{course.description}} </p>
                  </div>
                  {% endif %}
              {% endfor %}
            </ul>
            {% endfor %}
        {% else %}
        <p>No other courses are available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

<footer class="site-footer" style="padding-bottom: 10px;">
  <p class="text-muted" align="center">Contact us</p>
  <p class="text-muted" align="center">2016</p>
</footer>